body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.img1 {
	height: 25%;
	width: 25%;
	float: left;
}

.img2 {
	height: 25%;
	width: 25%;
	float: right;
}
